body {
	/*background-color: #0b78cd;*/
}

body.transaksi {
	background-color: #FFF;
}


@media only screen and (max-width: 768px) {

	/* Force table to not be like tables anymore */
	table,
	thead,
	tbody,
	th,
	td,
	tr {
	  display: block;
	  text-align: center;
	}

	table.table td {
	  padding-top: 1.5rem;
	  padding-bottom: .4rem;

	}

	img {}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
	  position: absolute;
	  top: -9999px;
	  left: -9999px;
	}

	img {
	  display: block;
	  margin: 0 auto;
	}

	td {
	  /* Behave  like a "row" */
	  border: none;
	  position: relative;
	  padding-left: 50%;

	}

	td:before {
	  /* Now like a table header */
	  position: absolute;
	  /* Top/left values mimic padding */
	  top: 6px;
	  left: 6px;
	  white-space: nowrap;
	}

	td:nth-of-type(1):before {
	  content: "Product";
	  font-weight: 400;
	  left: 50%;
	  transform: translate(-50%);
	}

	td:nth-of-type(2):before {
	  content: "Color";
	  font-weight: 400;
	  left: 50%;
	  transform: translate(-50%);
	}

	td:nth-of-type(3) {
	  position: absolute;
	  border: none !important;
	}

	td:nth-of-type(4):before {
	  content: "Price";
	  left: 50%;
	  transform: translate(-50%);
	  font-weight: 400;
	}

	td:nth-of-type(5):before {
	  content: "QTY";
	  left: 50%;
	  transform: translate(-50%);
	  font-weight: 400;
	}

	td:nth-of-type(5) {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	  padding-top: 1.9rem !important;
	}

	td:nth-of-type(6):before {
	  content: "Amount";
	  left: 50%;
	  transform: translate(-50%);
	  font-weight: 400;
	}

	td:nth-of-type(7):before {
	  content: "Remove item";
	  left: 50%;
	  transform: translate(-50%);
	  font-weight: 400;
	}

	.btn-group {
	  margin-left: 0 !important;
	}

	tr:nth-child(4) td:nth-of-type(4):before,
	tr:nth-child(4) td:nth-of-type(1):before,
	tr:nth-child(4) td:nth-of-type(2):before {
	  content: '';
	}

	tr:nth-child(4) td:nth-of-type(1) {
	  position: absolute;
	  border: none !important;
	}

	tr:nth-child(4) td:nth-of-type(3) {
	  position: relative;
	  display: flex;
	  justify-content: center;
	}

	tr:nth-child(4) td:nth-of-type(4) {
	  border-top: none !important;
	  display: flex;
	  justify-content: center;
	  border-bottom: 1px solid #dee2e6;
	}

}

.zi-1 {
	z-index: 1;
}

.animated.delay-03s {
    animation-delay: .3s
}

.animated.delay-06s {
    animation-delay: .6s
}

.animated.delay-09s {
    animation-delay: .9s
}

.view {
	height: 100%;
}

.jarallax.custom {
	min-height: 100vh;
}
.card.bg-transparant {
	background-color: rgba(126, 123, 215, 0.2);
}

.rgba-gradient-green {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

.bg-black-trans {
	background-color: rgba(0,0,0,.1);
}

.card-body p {
font-weight: 300;
}

.wow {
visibility: hidden;
}

/*.view:not(.zoom) {
      overflow: visible;
  }*/

.form-dark .font-small {
font-size: 0.8rem;
}

.form-dark [type="radio"]+label,
.form-dark [type="checkbox"]+label {
font-size: 0.8rem;
}

.form-dark [type="checkbox"]+label:before {
top: 2px;
width: 15px;
height: 15px;
}

.form-dark .md-form label {
color: #fff;
}

.form-dark input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #00C851;
-webkit-box-shadow: 0 1px 0 0 #00C851;
box-shadow: 0 1px 0 0 #00C851;
}

.form-dark input[type=text]:focus:not([readonly])+label {
color: #fff;
}

.form-dark input[type=password]:focus:not([readonly]) {
border-bottom: 1px solid #00C851;
-webkit-box-shadow: 0 1px 0 0 #00C851;
box-shadow: 0 1px 0 0 #00C851;
}

.form-dark input[type=password]:focus:not([readonly])+label {
color: #fff;
}

.form-dark input[type="checkbox"]+label:before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 17px;
height: 17px;
z-index: 0;
border: 1.5px solid #fff;
border-radius: 1px;
margin-top: 2px;
-webkit-transition: 0.2s;
transition: 0.2s;
}

.form-dark input[type="checkbox"]:checked+label:before {
top: -4px;
left: -3px;
width: 12px;
height: 22px;
border-style: solid;
border-width: 2px;
border-color: transparent #00c851 #00c851 transparent;
-webkit-transform: rotate(40deg);
-ms-transform: rotate(40deg);
transform: rotate(40deg);
-webkit-backface-visibility: hidden;
-webkit-transform-origin: 100% 100%;
-ms-transform-origin: 100% 100%;
transform-origin: 100% 100%;
}

.form-elegant .font-small {
font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
-webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
-webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

.form-simple .font-small {
font-size: 0.8rem;
}

.form-simple .header {
border-top-left-radius: .3rem;
border-top-right-radius: .3rem;
}

.form-simple input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #ff3547;
-webkit-box-shadow: 0 1px 0 0 #ff3547;
box-shadow: 0 1px 0 0 #ff3547;
}

.form-simple input[type=text]:focus:not([readonly])+label {
color: #4f4f4f;
}

.form-simple input[type=password]:focus:not([readonly]) {
border-bottom: 1px solid #ff3547;
-webkit-box-shadow: 0 1px 0 0 #ff3547;
box-shadow: 0 1px 0 0 #ff3547;
}

.form-simple input[type=password]:focus:not([readonly])+label {
color: #4f4f4f;
}

.form-light .font-small {
font-size: 0.8rem;
}

.form-light [type="radio"]+label,
.form-light [type="checkbox"]+label {
font-size: 0.8rem;
}

.form-light [type="checkbox"]+label:before {
top: 2px;
width: 15px;
height: 15px;
}

.form-light input[type="checkbox"]+label:before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 17px;
height: 17px;
z-index: 0;
border-radius: 1px;
margin-top: 2px;
-webkit-transition: 0.2s;
transition: 0.2s;
}

.form-light input[type="checkbox"]:checked+label:before {
top: -4px;
left: -3px;
width: 12px;
height: 22px;
border-style: solid;
border-width: 2px;
border-color: transparent #EB3573 #EB3573 transparent;
-webkit-transform: rotate(40deg);
-ms-transform: rotate(40deg);
transform: rotate(40deg);
-webkit-backface-visibility: hidden;
-webkit-transform-origin: 100% 100%;
-ms-transform-origin: 100% 100%;
transform-origin: 100% 100%;
}

.form-light .footer {
border-bottom-left-radius: .3rem;
border-bottom-right-radius: .3rem;
}

.rounded-corners textarea {
border-radius: 0.25rem;
}

.basic-textarea textarea {
height: auto;
}

.shadow-textarea textarea.form-control::placeholder {
font-weight: 300;
}

.shadow-textarea textarea.form-control {
padding-left: 0.8rem;
}

.input-group.md-form.form-sm.form-4 input[type=text]:focus:not([readonly]).lime-border {
border: 1px solid #FFFFFF;
box-shadow: none;
}

.input-group.md-form.form-sm.form-3 input {
border: 1px solid #e0e0e0;
border-top-right-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
padding-left: 1rem;
}

.input-group.md-form.form-sm.form-3 input[type=text]:focus:not([readonly]).black-border {
border: 1px solid #4285F4;
box-shadow: none;
}


.main-tabs-docs .nav-mtd {
  white-space: nowrap;
  overflow-x: auto;
  position: relative;
}
@media (min-width: 62rem) {
  .main-tabs-docs .nav-mtd {
    overflow-x: hidden;
  }
}
.main-tabs-docs .nav-mtd li a {
  display: block;
  padding: 17.5px 24px;
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-weight: 500;
  border-bottom: 3px solid #33b5e5;
}
.main-tabs-docs .nav-mtd li a.active {
  border-bottom: 3px solid;
  color: #fff;
}


.background-blue-1 {
	background-color: #0b78cd;
}

.abs-custom {
	z-index: 1;
	margin-top: 9.9px;
	left: 20px;
}

.abs-custom a {
	opacity: .5;
}

.abs-custom a:hover {
	opacity: 1;
}

.box {
	background-color: #FFF;
	border-radius: 10px;
	margin-top: 12vh;
}

.m-lr-auto {
	margin-left: auto;
	margin-right: auto;
}

.form-control,
.md-form label {
	font-size: 1.5rem;
}
.col-custom-1 {
    height: calc(100vh - 64px);
    overflow: auto;
}

.col-custom-2 {
    height: calc(100vh - 225px);
    overflow: auto;
}

.row-custom-1 {
    width: 100%;
    bottom: 0;
}

.row-custom-1 table {
	margin-bottom: 0px;
}

.h100 {
	height: 100%;
}
.label-custom-1 {
	font-size: 2rem;
	display: block;
}

.form-custom-1 {
	font-size: 1.5rem;
	padding: .75rem;
	height: auto;
	border-radius: 1rem;
}

.btn {
	font-size: 1rem;
}

.btn-custom-1 {
	display: block;
	width: 100%;
	height: auto;
	font-size: 1.5rem;
	padding: .75rem;
	border-radius: 1rem;
	color: #FFF;
	font-weight: 600;
	background-color: #70d099;
}
.btn-custom-1:hover {
	color: #FFF;
}

a.link-custom-1 {
	display: block;
	width: 80%;
	padding: 20% 0;
	font-size: 1.7rem;
	font-weight: 600;
	text-decoration: none;
	border-radius: 1rem;
	color: #FFF;
}

.line-vertical {
	width: 1px;
	height: 100%;
}

.text-custom-1 {
	height: 100%;
	margin-left: -15.5px;
}

.text-custom-1 span {
	background-color: #FFF;
}

.list-item a {
	display: inline-block;
	width: 100%;
	background-color: #FFF;
	border-radius: 8px;
}

.list-item a:hover {
	text-decoration: none;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.5)!important;

}

.list-item img {
    max-width: 100%;
	height: auto;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.list-item .info-price {
    position: absolute;
    background-color: #0b78cd;
    color: #FFF;
    padding: 5px 10px;
    top: 8px;
    font-size: 16px;
}

.list-item .box-image {
	text-align: center;
	
}

.list-item .info-item {
	min-height: 59px;
}

.list-item a .info-item h4 {
	font-weight: 400;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: #0b78cd;
	color: #FFF;
}

.nav-tabs .nav-link {
	border-radius: 0px;
	border: 0px;
    padding: 21px 1rem;
}

.nav-tabs .nav-link:hover {
	background-color: #0b78cd;
	color: #FFF;
}

.row-bottom-custom {
	height: 70px;
}

.btn-custom-2{
    font-size: 1.35rem;
    border-radius: 8px;
    width: 90%;
	margin: 6px auto;
}

table.table td, table.table th {
	padding: 1rem .5rem;
}

table.table-custom-1.list-item-jasa td:first-child {
	width: 59px;
}

table.table-custom-1 td:nth-child(3) {
	width: 125px;
	text-align: right;
}

table.table-custom-1 td:last-child {
	text-align: right;
}

table span.quantity {
	background-color: #70d099;
	display: inline-block;
	color: #FFF;
	font-weight: 600;
    padding: 2.3px 9.18px;
    border-radius: 15px;
}

table a.delete {
	background-color: #FFF;
	display: inline-block;
    padding: 4.7px 9.2px;
    border-radius: 20px;
}

hr.custom-1 {
	border-top: 1px dashed #000;
}

.carousel-multi-item .controls-top.custom {
	height: 100%;
    position: absolute;
    width: 100%;
    margin-bottom: 0px;
}

.carousel-multi-item .controls-top .btn-floating {
	position: absolute;
    background: transparent;
    box-shadow: none;
    height: auto;
    top: calc(50% - 24px);
}

.carousel-multi-item .controls-top .btn-floating:first-child {
	left: -20px;
}

.carousel-multi-item .controls-top .btn-floating:last-child {
	right: -20px;
}

.carousel-multi-item .controls-top .btn-floating i {
	color: #000;
	opacity: .6;
	font-size: 1rem;
}

.carousel-item .card img {
	width: 100%;
}

.carousel-item a,
.col-md-3 a {
	color: #212529;
}
.carousel-item .col-item {
	position: relative;
}

.carousel-item .col-item a.remove {
	display: none;
	background-color: rgba(0,0,0,.6);
	position: absolute;
    z-index: 1;
    width: calc(100% - 30px);
    height: 100%;
    color: rgba(255,255,255,.8);
    font-size: 4rem;
    text-align: center;
}

.carousel-item .col-item a.remove:hover {
	background-color: rgba(0,0,0,.9);
    color: rgba(255,255,255,1);

}

.carousel-item .col-item.selected a.remove {
	display: block;
}

.carousel-item .col-item a.remove i {
    padding-top: 25%;
}

.carousel-item .card,
.card.custom {
	box-shadow: none;
}

.card .card-body .card-text {
	font-size: 1rem;
}

.carousel-multi-item {
	margin-bottom: 2rem;
}

.card.custom img {
	width: fit-content;
	max-width: 160px;
	margin: 0px auto;
}

.card-body {
	padding: .5rem;
}

.col-md-21 .card-body {
	padding: .5rem;
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons, 
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
	display: flex;
	width: 100%;

}

.ripe-malinka-gradient {
    background-image: linear-gradient(120deg,#f093fb 0,#f5576c 100%);
}

.runningtext {
	height: 30px;	
	overflow: hidden;
	position: relative;
}

.runningtext.custom {
	margin-left: -1rem;
    margin-right: -1rem;
    padding: 3px 1rem 0;
    height: 35px;

}

.runningtext h5 {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 30px;
	text-align: center;
	/* Starting position */
	-moz-transform:translateX(70%);
	-webkit-transform:translateX(70%);	
	transform:translateX(70%);
	/* Apply animation to this element */	
	-moz-animation: runningtext 25s linear infinite;
	-webkit-animation: runningtext 25s linear infinite;
	animation: runningtext 25s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes runningtext {
 0%   { -moz-transform: translateX(70%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes runningtext {
 0%   { -webkit-transform: translateX(70%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes runningtext {
 0%   { 
 -moz-transform: translateX(70%); /* Browser bug fix */
 -webkit-transform: translateX(70%); /* Browser bug fix */
 transform: translateX(70%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

.runningtext.full h5 {
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: runningtextfull 25s linear infinite;
	-webkit-animation: runningtextfull 25s linear infinite;
	animation: runningtextfull 25s linear infinite;

}
/* Move it (define the animation) */
@-moz-keyframes runningtextfull {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes runningtextfull {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes runningtextfull {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}